<div class="Subjects index">
    <h2>Subject Index</h2>
    <%= link_to 'Add new Subject' , new_subject_path , :class => 'action new'%>

    <table class="listening" summary="Subject list">
        <tr class="header">
            <th>#</th>
            <th>Subject</th>
            <th>Visible</th>
            <th>Pages</th>
            <th>Action</th>
        </tr>
        <% @subjects.each do |subject|%>
        <tr>
            <td><%=subject.position%></td>
            <td><%=subject.name%></td>
            <td class="center"><%=subject.visible %></td>
            <td class="center"><%=subject.pages %></td>
            <td>
                <%= link_to("Show" , subject_path(subject) ,:class=>'action show')%>
                <%= link_to("Edit" , edit_subject_path(subject) , :class=>'action edit')%>
                <%= link_to("Delete" , '#' , :class=>'action delete' )%>
            </td>
        </tr>
        <%end%>
    </table>
</div>